{% extends "base.html" %}
{% block title %}Edit Answer{% endblock %}

    {% block head %}
        {{ super() }}
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'
              integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/'
              crossorigin='anonymous'>
    {% endblock %}
{% block body %}
<h1>Edit Answer</h1>
    <div class="form-group">
    <div class="form-group col-md-4">
        <form action="{{ url_for('edit_answer', answer_id=answer['id']) }}" method="post">
            <p><h3><label for="message">Your answer:</label><br></h3>
            <textarea id="message" name="message" class="form-control" rows="4" cols="40">{{ answer['message'] }}</textarea></p>
            <p><h3><label for="image">Image URL:</label><br></h3>
            <input id="image" name="image" class="form-control" value="{{ answer['image'] }}"></p>
            <button type="submit" class="btn btn-primary">Submit edited answer</button>
        </form>
    </div>
    </div>
{% endblock %}