<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu_social.css') }}">
</head>
<body>
<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li>
            <a href="https://www.facebook.com/AskMate-1711834159126380">
                <img alt="logo" src="/static/images/fb_logo.png" width="90%" height="90%">
                <span class="nav-text">
                            Facebook
                        </span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/askingforamate.podcast/">
                <img alt="logo" src="/static/images/insta_logo.png" width="90%" height="90%">
                <span class="nav-text">
                            Instagram
                        </span>
            </a>
        </li>
        <li>
            <a href="https://youtube.com">
                <img alt="logo" src="/static/images/yt_logo.png" width="90%" height="90%">
                <span class="nav-text">
                            YouTube

                        </span>
            </a>

        </li>
    </ul>

</nav>
</body>
</html>